<p class='create-event-header' style='font-size:25px;text-align:center;'><strong>Add users and groups</strong></p>
<div style='height:20px'></div>
<div class='container' style='text-align:center;'>
  <div class='row'>
    <div class='col'>
      <p class='user_select_pannel' id='get_users'><strong>Users</strong></p>
      <div class='underscore' id='underscore_users'></div>
    </div>
    <div class='col'></div>
    <div class='col'>
      <p class='user_select_pannel' id='get_groups'><strong>Groups</strong></p>
      <div class='underscore' id='underscore_groups'></div>
    </div>
  </div>
</div>
<div class='user_display_pannel' style='width:auto;height:250px;max-height:250px;overflow:scroll'>

  <p class='group_listing_text'><i>No users added</i></p>
</div>

<div style='height:20px;'></div>

<input type='text' class='add_people' id='for_users' placeholder='Search users...'>
<div class='filter_results_display'>
  <div class='found_user_results' style='display:none'>
    
  </div>
</div>
<div style='height:20px;'></div>
<button class='create_private_finish'>Create</button>
<div style='height:20px;'></div>