<div class='calendar_header'>

  <div class='container'>
    <div class='row'>
      <div class='col'><button class='month_nav' id='backward'><i class="fas fa-angle-left" style='font-size:3em;color: white;line-height:60px;'></i></button></div>
      <div class='col-md-auto' style='text-align:center'>
        <p class='month_heading'><strong><span class='calendar_month'>{{calendar.month}}</span> <span class='calendar_year'>{{calendar.year}}</span></strong></p>
        <p class='range_heading'>{{calendar.dayrange}}</p>
      </div>
      <div class='col'><button class='month_nav' id='forward' style='float:right;'><i class="fas fa-angle-right" style='font-size:3em;color: white;line-height:60px;'></i></button></div>
    </div>
</div>

</div>
  <div style='height:10px'></div>
  <div class='calendar_body'>
    <table style="width: 90%;margin:0 auto;padding:0px;border-radius:12px;">
        <colgroup>
           <col span="1" style="width: 7.5%;">
           <col span="1" style="width: 75%;">
           <col span="1" style="width: 7.5%;">
        </colgroup>
        <tbody>
          <tr>
            <td style='background:none'>
              <div class='timeslots'>
              </div>
            </td>
            <td class = 'main_calendar' valgin='top' style='padding:0px;'>
              <table style="width: 100%;" style='margin-top:-500px;border-radius:10px;'>
                <colgroup>
                   <col span="1" style="width:12.58%">
                   <col span="1" style="width:12.58%">
                   <col span="1" style="width:12.58%">
                   <col span="1" style="width:12.58%">
                   <col span="1" style="width:12.58%">
                   <col span="1" style="width:12.58%">
                   <col span="1" style="width:12.58%">
                </colgroup>
                <tbody>
                  <tr style='height:1200px;max-height:600px;overflow:scroll'>
                    {%for day in calendar%}
                      <td valign='top' class='{{day.header_class}}'>
                        <div class='{{day.inner_div_class}}'>
                          <p class='day_abbrev'><strong>{{day.header.day_abbrev}}</strong></p>
                          <p class='calendar_date'>{{day.header.day_num}}</p>
                        </div>
                        <div class='day_event_listing' id='day_{{day.header.rounded_day}}'>
                          {%for day_div in day%}
                            <div class='hour_block' id='{{day_div.div_id}}' style='height:{{day_div.height}}px'>
                              {%if day_div%}
                                <div class="event_test_block" id='event_{{day_div.div_id}}' data-created="True" style='height:{{day_div.event.height}}px;top:{{day_div.event.from_top}}px;background-color:{{day_div.event.background_color}};border-color:{{day_div.event.border_color}}'>
                                  <button id='remove_event_{{day_div.div_id}}' class='remove_event'><i class="fas fa-times" style='color:white;font-size:1.3em'></i></button>
                                  <p class='event_title_display' id='title_display_{{day_div.div_id}}'>{{day_div.event.condensed_title}}</p>
                                  <p class='event_timestamp' id='timestamp_for_{{day_div.div_id}}'>{{day_div.event.timerange}}</p>
                                </div>
                              {%endif%}
                            </div>
                          {%endfor%}
                        </div>

                      </td>
                    {%endfor%}

                  </tr>
                </tbody>
              </table>
            </td>
            <td style='background:none'></td>
          </tr>
        </tbody>
    </table>
    <!---->
</div>

<div class="modal" id="create_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title create_event_modal_header" id="exampleModalLabel">Create personal event</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div style='height:10px;'></div>
      <div class='container'>
        <div class='row'>
          <div class='col-md-auto'>
            <p class='create_event_modal_header'><strong>Event name:</strong></p>
          </div>
          <div class='col-md-auto'>
            <input type='text' class='detail_input' id='event_name'>
            <p class='warning_text' id='for_name'></p>
          </div>
        </div>
      </div>
      <div style='height:40px;'></div>
      <div class='container'>
        <div class='row'>
          <div class='col-md-auto'>
            <p class='create_event_modal_header'><strong>Description:</strong></p>
          </div>
          <div class='col-md-auto'>
            <input type='text' class='detail_input' placeholder="(optional)" id='event_description'>
          </div>
        </div>
      </div>

      <div style='height:40px;'></div>
      <div class='container'>
        <div class='row'>
          <div class='col-md-auto'>
            <p class='create_event_modal_header'><strong>Event category:</strong></p>
          </div>
          <div class='col-md-auto'>
            <div class='container'>
              <div class='row'>
                  <div class='col-md-auto'>
                    <div class='pallete_sample' id='selected_square' style='background-color:#FF354D;border-color:red;'></div>
                  </div>
                  <div class='col-md-auto'><p class='category_text' id='selected_name' style='margin-top:-0.5px;'><strong style='color:gray'>default</strong></p></div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div style='height:20px;'></div>
      <div class='category_options'>

      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="create_calendar_event_confirm">Create</button>
    </div>
  </div>
</div>
</div>
</div>
