<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='/static/styles/dashboard_style.css'>
    <script src='/static/styles/dashboard_js.js'></script>

  </head>
  <body style='background-color: #E4E4E4;'>
    <nav class="navbar top_header">
      <p class="navbar-brand logo" style='font-size:30px;'>Chronos</p>
      <div class='actions'>
        <table>
          <tr>
            <td>
            <div class='user_avatar'>
              <div class='avatar' style='background-color: {{user.avatar_color}}'>{{user.initials}}</div>

            </div>
          </td>
            <td><a href='/profile' class='dashboard_username' style='color:white'>{{user.condensed_name}}</a></td>
          </tr>
        </table>

      </div>
    </nav>
    <div class='tab_pannel'>
      <div style='height:65px;'></div>
      <div class='container'>
        <div class='row no-gutters'>
          <div class='col'>
            <p class='nav_tab'>Dashboard</p>
            <div id='full_selected' style='width:80px;'></div>
          </div>

          <div class='col'>
            <a href='/calendar' class='nav_tab' style='color:white;text-decoration:none'>Calendar</a>

          </div>
          <div class='col'>
            <p class='nav_tab'>Groups</p>


          </div>
          <div class='col'>
            <p class='nav_tab'>Past events</p>

          </div>
          <div class='col'>
            <a href='/profile' class='nav_tab profile_link'>Profile</a>

          </div>

          <div class='col'>
            <button class='create_event'>
              <i class="fas fa-plus" style='font-size:2em;color:white;'></i>
            </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='datetime_display'>
      <div class='container'>
        <div class='row'>
          <div class='col'>
            <p class='event_upcomming_warning'><u>TestEvent</u> is starting shortly!</u></p>
          </div>

          <div class='col'><p class='datetime_text'><strong><span class='hour_min'></span> on <span class='day_of_week'></span>, <span class='month'></span> <span class='day'></span>, <span class='year'></span></strong></p></div>

        </div>
      </div>
      <!--
      <p class='datetime_info'>Saturday, November 17, 2018</p>
      <p class='datetime_info' style='margin-top:-10px;'>2:54 PM</p>
    -->
    </div>
    <div style='height:80px'></div>
    <div class='main_wrapper' style='width:1000px;height:700px;margin:0 auto'>

    <div class='main_event_display'>
      {%if user.has_events%}
        <div class='nav_tabs' style='width:800px;height:100px;margin:0 auto;text-align:center;'>
        <div class='container'>
          <div class='row'>
            <div class='col'>
              <p style='font-size:20px;'><strong>Personal Events</strong></p>
            </div>
            <div class='col'>
              <p style='font-size:20px;'><strong>Group Events</strong></p>
            </div>
          </div>
          <div class='row'>
            <div class='col menu_underline' id='personal_events_underline' style='background-color:#FABC09'>

            </div>
            <div class='col menu_underline' id='personal_events_underline' style='background-color:#21DCAC'>

            </div>
          </div>
        </div>
        </div>
        <div style='height:60px'></div>
        <div class='personal_event_listings'>
          {%if user.has_events%}
            {%for event in user.personal_events%}
              <div class='container'>
                <div class='row'>
                  <div class='col-md-auto'>
                    <div class='color_category_div' style='background-color:{{event.background_color}}'></div>
                  </div>
                  <div class='col'>
                    <p style='font-size:25px;margin-top:-15px;'><strong>{{event.title}}</strong></p>

                    <p style='font-size:12px;' class='more_event_details' id='details_for_{{event.id}}'><u>details</u></p>
                  </div>
                  <div class='col'>
                    <p id='event_timerange_for_{{event.id}}' data-timestamp='{{event.timestamp}}' style='margin-top:-10px;font-size:18px;' class='personal_event_timestamp' data-toggle="popover" data-placement="left" data-content="" data-html="true"><small>{{event.timerange}}</small></p>
                  </div>
                  <div class='col-md-auto'>
                    <div class='event_tag' style='background-color:{{event.event_tag.color}}'>{{event.event_tag.name}}</div>
                  </div>
                </div>
              </div>
              <div class='extra_info_display' id='extra_info_{{event.id}}'></div>
              <div class='underscore_events'></div>
              <div style='height:40px;'></div>
            {%endfor%}
          {%else%}
            <p style='color:gray'>Nothing personal events yet</p>
          {%endif%}


        </div>

      {%else%}
      <div style='height:200px;'></div>
      <div style='height:400px;width:500px;text-align:center;margin:0 auto;'>
        <p style='text-align:center;font-size:26px;'><strong>No events yet</strong></p>
        <p style='text-align:center;font-size:15px;color:gray'>Any events you create or join will be listed here</p>
        <div style='height:20px;'></div>
        <a href='/create' class='create_alt_button' style='text-decoration:none;'>Create</a>
      </div>
      {%endif%}
      <div style='height:50px'></div>
    </div>
  </div>
    <div style='height:100px'></div>
  </body>

</html>
