<html>
  <style>

 </style>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link rel='stylesheet' href='/static/styles/homepage_style.css'>
    <script src='/static/styles/homepage_js.js'></script>
  </head>
  <body style='background-color: #E4E4E4;'>
    <nav class="navbar top_header">
      <p class="navbar-brand logo" style='font-size:30px;'>Chronos</p>
      <div class='actions'>
        <a class="action_button my-2 my-sm-0 login_to_site" style='text-decoration:none;padding-left:7px;padding-right:7px;' href='/login'>Login</a>
        <a class="action_button my-2 my-sm-0" href='/signup' style='text-decoration:none;padding-left:7px;padding-right:7px;'>Signup</a>
      </div>
    </nav>
    <div class='pannel1'>
      <div style='height:30px;'></div>
      <div class='pannel1_content'>

        <p class='banner'>Event Scheduling Made Easy</p>
        <div style='height:30px;'></div>
        <button class='get_started'>Get Started</button>
      </div>

    </div>
    <!--<div class='pannel2'></div>-->
    <!--<div class='pannel3'></div>-->
  </body>
</html>
