<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link rel='stylesheet' href='/static/styles/login_style.css'>
    <script src='/static/styles/login_js.js'></script>
    
  </head>
  <body style='background-color: #E4E4E4;'>
    <div style='height:100px;'></div>
    <div class='login'>

      <p style='padding-top:20px;font-size:25px;text-align:center;'><strong>Login</strong></p>
      <div style='height:20px'></div>
      <p class='login_text' style='color:black'>Email:</p>
      <input type='email' class='credential' id='username'>
      <p class='warning_text' id='for_username'></p>
      <div style='height:20px'></div>
      <p class='login_text' style='color:black'>Password:</p>
      <input type='password' class='credential' id='password'>
      <p class='warning_text' id='for_password'></p>
      <div style='height:30px'></div>
      <button class='login_button'>Login</button>
      <div style='height:30px'></div>
      <p style='color:black'>New? <a href='/signup'><u>Signup</u></a>.</p>
    </div>

  </body>

</html>
