<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link rel='stylesheet' href='/static/styles/signin_style.css'>
    <script src='/static/styles/signup_js.js'></script>
  </head>
  <body style='background-color: #E4E4E4;'>
    <div style='height:10px;'></div>
    <div class='login'>

      <p style='padding-top:10px;font-size:25px;text-align:center;'><strong>Sign Up</strong></p>
      <div style='height:10px'></div>

      <p class='login_text' style='color:black'>Name:</p>
      <input type='text' class='credential' id='name'>
      <p class='warning_text' id='for_name'></p>
      <div style='height:10px'></div>

      <p class='login_text' style='color:black'>Email:</p>
      <input type='email' class='credential' id='email'>
      <p class='warning_text' id='for_email'></p>
      <div style='height:10px'></div>

      <p class='login_text' style='color:black'>Password:</p>
      <input type='password' class='credential' id='password'>
      <p class='warning_text' id='for_password'></p>
      <div style='height:10px'></div>

      <p class='login_text' style='color:black'>Confirm password:</p>
      <input type='password' class='credential' id='password_confirm'>
      <p class='warning_text' id='for_password_confirm'></p>

      <div style='height:20px'></div>
      <button class='login_button'>Sign Up</button>
      <div style='height:30px'></div>
      <p style='color:black'>Already registered? <a href='/login'><u>Login</u></a>.</p>
    </div>

  </body>

</html>
